# IMAP email
IMAP_USER="your@email.com"
IMAP_PASSWORD="your-app-pasword" # App Password (not Account Password) 
# Ollama LLM
OLLAMA_HOST="http://localhost:11434"
OLLAMA_MODEL="llama3.2"
# heise.de
HEISE_USERNAME="your@email.com"
HEISE_PASSWORD="your-pasword"